@*<div id="wrapper" class="container">*@
<div id="menu" class="container">
    <ul>
        <li class="current_page_item"><a href="@Url.Action("Index","Home")" accesskey="1" title="">Homepage</a></li>
        <li><a href="@Url.Action("Index","Search")" accesskey="2" title="">Search</a></li>
        <li><a href="@Url.Action("About","Home")" accesskey="4" title="">About</a></li>
        <li><a href="@Url.Action("Contact","Home")" accesskey="6" title="">Contact Us</a></li>
        @*            <li><a href="@Url.Action("Register","Account")" accesskey="3" title="">Register</a></li>
            <li><a href="@Url.Action("Login","Account")" accesskey="5" title="">Login</a></li>*@
            
    </ul>
</div>

@*</div>*@